In [ ]:
Introduction to python programming:

In [ ]:
Understanding variables in python:

In [7]:
x= 2
y= 2

In [15]:
z=x+y
print(z)

4

In [12]:
Rules for declaring the variables in python:
    1.No name spaces while declaring the variable names
    2.A variable name should not start with a number **
    3.

SyntaxError: invalid decimal literal (3986132060.py, line 2)

In [12]:
Rules for declaring the variables in python:
    1.No name spaces while declaring the variable names
    2.A variable name should not start with a number **
    3.A variable name should not contain any special characters

SyntaxError: invalid decimal literal (3986132060.py, line 2)

In [5]:
firstname='Poornima'
print(firstname)

Poornima

In [16]:
name1='poo'
print(name1)

poo

In [17]:
name@='babu'
print(name@)

SyntaxError: invalid syntax (3225099436.py, line 2)

In [ ]:
Introduction to datatypes in python:
    1.string------->str
    2.numbers------>int and float
    3.list
    4.tuple
    5.dictionaries->dict

In [ ]:
Classification of datatypes:
    Broadly data types are classified into two diff. categories:
        1.Mutable datatype--->which are flexible in nature-->we can edit/alter
        2.Immutable datatype->which are fixed in nature----->which will not be able to alter /edit

In [ ]:
Introduction to string datatype:
    1.defintion: A string is nothing but a series of characters enclose with quotes.
    2.classification: It is classified as an immutable datatype
    3.how to define string?
       *Using single quote''
       *using double quote ""
    
    eg:
        name='poo'
        name="poo"

In [20]:
#Introduction to string methods:

name='poo'
type(name)

str

In [21]:
fullname='poornima chandrasekar'
print(fullname)

poornima chandrasekar

In [22]:
print(fullname.title())

Poornima Chandrasekar

In [ ]:
#requirment:want to convert the entire name into capital and small letters

In [23]:
print(fullname.upper())

POORNIMA CHANDRASEKAR

In [24]:
print(fullname.lower())

poornima chandrasekar